@tailwind base;
@tailwind components;
@tailwind utilities;

/* Додаткові глобальні стилі */
html, body {
  @apply h-full;
}

/* Fix for Leaflet default icon */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png) !important;
}

/* Стилі для popup на карті */
.location-popup .leaflet-popup-content {
  margin: 10px 14px;
  line-height: 1.4;
}

.location-popup .leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 8px;
}